.idea
/homework-1
/homework-2
/homework-3
/homework-4
/homework-5
/homework-6
/homework-7
/homework-8
/hw1_result
/hw2_result
/hw3_result
/hw4_result
/hw5_result
/hw6_result
/hw7_result
/hw8_result
/opencc-python
/ssdeep
/venv
/result
/test
/.idea
/.mypy_cache
*.csv
*.xlsx
*.zip